In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC,LinearSVC
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier, AdaBoostClassifier, VotingClassifier
import pickle
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report,plot_confusion_matrix,accuracy_score,confusion_matrix
from sklearn.utils import resample

In [2]:
df = pickle.load(open('../Data/df_pre_model', 'rb'))
df.head()

,airline,retweet_count,text,tweet_created,word_count,airline_sentiment,air_target
0,Virgin America,0,virginamerica dhepburn said,2015-02-24 11:35:52 -0800,3,neutral,0
1,Virgin America,0,virginamerica plus added commercials experienc...,2015-02-24 11:15:59 -0800,6,positive,1
2,Virgin America,0,virginamerica today must mean need take anothe...,2015-02-24 11:15:48 -0800,8,neutral,0
3,Virgin America,0,virginamerica really aggressive blast obnoxiou...,2015-02-24 11:15:36 -0800,11,negative,-1
4,Virgin America,0,virginamerica really big bad thing,2015-02-24 11:14:45 -0800,5,negative,-1

In [3]:
df['airline_sentiment'].value_counts()
# The dataset is not balance

negative    9178
neutral     3099
positive    2363
Name: airline_sentiment, dtype: int64

In [4]:
df_neg = df[df['airline_sentiment']=='negative']
df_pos = df[df['airline_sentiment']=='positive']
df_neu = df[df['airline_sentiment']=='neutral']

In [5]:
# Generate data set for positive and nuetral data set
df_pos_resm = resample(df_pos,n_samples=9178,replace=True,random_state=101)
df_neu_resm = resample(df_neu,n_samples=9178,replace=True,random_state=101)

In [6]:
df_resample = pd.concat([df_pos_resm,df_neu_resm,df_neg])

In [7]:
cv = CountVectorizer()

In [10]:
cv.fit_transform(df['text'])

<14640x13578 sparse matrix of type '<class 'numpy.int64'>'
	with 142839 stored elements in Compressed Sparse Row format>

In [15]:
pd.DataFrame(cv.fit_transform(df['text']))

                                                       0
0         (0, 12707)\t1\n  (0, 3089)\t1\n  (0, 10180)\t1
1        (0, 12707)\t1\n  (0, 8909)\t1\n  (0, 220)\t1...
2        (0, 12707)\t1\n  (0, 11885)\t1\n  (0, 7694)\...
3        (0, 12707)\t1\n  (0, 9534)\t1\n  (0, 308)\t1...
4        (0, 12707)\t1\n  (0, 9534)\t1\n  (0, 1242)\t...
...                                                  ...
14635    (0, 4309)\t1\n  (0, 3120)\t1\n  (0, 11644)\t...
14636    (0, 4309)\t2\n  (0, 1710)\t1\n  (0, 6670)\t1...
14637    (0, 8881)\t1\n  (0, 359)\t1\n  (0, 1510)\t1\...
14638    (0, 4309)\t1\n  (0, 1932)\t1\n  (0, 595)\t1\...
14639    (0, 7812)\t1\n  (0, 4309)\t2\n  (0, 10370)\t...

[14640 rows x 1 columns]