In [182]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [183]:
# Laod the dataset from its directory
df = pd.read_csv('../Data/airline_tweets.csv')

In [184]:
df.head(3)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)

In [185]:
# Check for null values
df.isnull().sum()

tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5462
negativereason_confidence        4118
airline                             0
airline_sentiment_gold          14600
name                                0
negativereason_gold             14608
retweet_count                       0
text                                0
tweet_coord                     13621
tweet_created                       0
tweet_location                   4733
user_timezone                    4820
dtype: int64

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [187]:
# Drop the columns that either are not informative or mostly have miss data
drop_col = df[['tweet_id','name','airline_sentiment_gold','negativereason_gold','tweet_coord']]
df = df.drop(drop_col,axis=1)

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   airline_sentiment             14640 non-null  object
 1   airline_sentiment_confidence  14640 non-null  float64
 2   negativereason                9178 non-null   object
 3   negativereason_confidence     10522 non-null  float64
 4   airline                       14640 non-null  object
 5   retweet_count                 14640 non-null  int64
 6   text                          14640 non-null  object
 7   tweet_created                 14640 non-null  object
 8   tweet_location                9907 non-null   object
 9   user_timezone                 9820 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 1.1+ MB

In [189]:
df['user_timezone'].value_counts()

Eastern Time (US & Canada)    3744
Central Time (US & Canada)    1931
Pacific Time (US & Canada)    1208
Quito                          738
Atlantic Time (Canada)         497
                              ...
Warsaw                           1
Bucharest                        1
Wellington                       1
Sarajevo                         1
Saskatchewan                     1
Name: user_timezone, Length: 85, dtype: int64

In [190]:
# Convert data type from object to time 
df['tweet_created'] = pd.to_datetime(df['tweet_created'])
df['tweet_created']

0       2015-02-24 11:35:52-08:00
1       2015-02-24 11:15:59-08:00
2       2015-02-24 11:15:48-08:00
3       2015-02-24 11:15:36-08:00
4       2015-02-24 11:14:45-08:00
                   ...
14635   2015-02-22 12:01:01-08:00
14636   2015-02-22 11:59:46-08:00
14637   2015-02-22 11:59:15-08:00
14638   2015-02-22 11:59:02-08:00
14639   2015-02-22 11:58:51-08:00
Name: tweet_created, Length: 14640, dtype: datetime64[ns, pytz.FixedOffset(-480)]

In [191]:
# Extract year and month from date
df['year_twt'] = df['tweet_created'].dt.year
df['month_twt'] = df['tweet_created'].dt.month

In [192]:
# Drop the original date
df= df.drop('tweet_created',axis=1)
df.head(3)

,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,retweet_count,text,tweet_location,user_timezone,year_twt,month_twt
0,neutral,1.0000,NaN,NaN,Virgin America,0,@VirginAmerica What @dhepburn said.,NaN,Eastern Time (US & Canada),2015,2
1,positive,0.3486,NaN,0.0,Virgin America,0,@VirginAmerica plus you've added commercials t...,NaN,Pacific Time (US & Canada),2015,2
2,neutral,0.6837,NaN,NaN,Virgin America,0,@VirginAmerica I didn't today... Must mean I n...,Lets Play,Central Time (US & Canada),2015,2

In [193]:
df['tweet_location'].nunique()
# Drop the the 'tweet_location' because there are a lot unmber of unique location
df = df.drop('tweet_location',axis=1)
df.head(2)

,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,retweet_count,text,user_timezone,year_twt,month_twt
0,neutral,1.0000,NaN,NaN,Virgin America,0,@VirginAmerica What @dhepburn said.,Eastern Time (US & Canada),2015,2
1,positive,0.3486,NaN,0.0,Virgin America,0,@VirginAmerica plus you've added commercials t...,Pacific Time (US & Canada),2015,2

In [194]:
df['user_timezone'].nunique()

85

In [195]:
# Drop the 'user_timezone' bceause there are many unique values
df = df.drop('user_timezone',axis=1)
df.head(3)

,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,retweet_count,text,year_twt,month_twt
0,neutral,1.0000,NaN,NaN,Virgin America,0,@VirginAmerica What @dhepburn said.,2015,2
1,positive,0.3486,NaN,0.0,Virgin America,0,@VirginAmerica plus you've added commercials t...,2015,2
2,neutral,0.6837,NaN,NaN,Virgin America,0,@VirginAmerica I didn't today... Must mean I n...,2015,2

In [196]:
df.isnull().sum()

airline_sentiment                  0
airline_sentiment_confidence       0
negativereason                  5462
negativereason_confidence       4118
airline                            0
retweet_count                      0
text                               0
year_twt                           0
month_twt                          0
dtype: int64

In [197]:
# Drop the negativereason and negativereason_confidence  from data set
drp_2= df[['negativereason','negativereason_confidence']]
df = df.drop(drp_2,axis=1)
df.head(3)

,airline_sentiment,airline_sentiment_confidence,airline,retweet_count,text,year_twt,month_twt
0,neutral,1.0000,Virgin America,0,@VirginAmerica What @dhepburn said.,2015,2
1,positive,0.3486,Virgin America,0,@VirginAmerica plus you've added commercials t...,2015,2
2,neutral,0.6837,Virgin America,0,@VirginAmerica I didn't today... Must mean I n...,2015,2

In [198]:
# In this project we are going to classify the target base on "positive" and "Negative" labels so we drop the 'Neutral' labels
df_neut_drop = df[df['airline_sentiment'] == 'neutral'].index
df_neut_drop

Int64Index([    0,     2,     7,    10,    23,    27,    29,    31,    35,
               38,
            ...
            14584, 14588, 14598, 14600, 14602, 14607, 14611, 14632, 14637,
            14639],
           dtype='int64', length=3099)

In [199]:
df = df.drop(df_neut_drop)
df.head()

,airline_sentiment,airline_sentiment_confidence,airline,retweet_count,text,year_twt,month_twt
1,positive,0.3486,Virgin America,0,@VirginAmerica plus you've added commercials t...,2015,2
3,negative,1.0000,Virgin America,0,@VirginAmerica it's really aggressive to blast...,2015,2
4,negative,1.0000,Virgin America,0,@VirginAmerica and it's a really big bad thing...,2015,2
5,negative,1.0000,Virgin America,0,@VirginAmerica seriously would pay $30 a fligh...,2015,2
6,positive,0.6745,Virgin America,0,"@VirginAmerica yes, nearly every time I fly VX...",2015,2

In [200]:
df.isnull().sum()

airline_sentiment               0
airline_sentiment_confidence    0
airline                         0
retweet_count                   0
text                            0
year_twt                        0
month_twt                       0
dtype: int64

In [201]:
# Save dateset
df.to_csv('../Data/df_cleaned',index=False)