In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC,LinearSVC
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier, AdaBoostClassifier, VotingClassifier
import pickle
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report,plot_confusion_matrix,accuracy_score,confusion_matrix
from sklearn.utils import resample

In [2]:
df = pickle.load(open('../Data/df_pre_model', 'rb'))
df.head()

,airline,retweet_count,text,tweet_created,word_count,airline_sentiment,air_target
0,Virgin America,0,virginamerica dhepburn said,2015-02-24 11:35:52 -0800,3,neutral,0
1,Virgin America,0,virginamerica plus added commercials experienc...,2015-02-24 11:15:59 -0800,6,positive,1
2,Virgin America,0,virginamerica today must mean need take anothe...,2015-02-24 11:15:48 -0800,8,neutral,0
3,Virgin America,0,virginamerica really aggressive blast obnoxiou...,2015-02-24 11:15:36 -0800,11,negative,-1
4,Virgin America,0,virginamerica really big bad thing,2015-02-24 11:14:45 -0800,5,negative,-1

In [3]:
df['airline_sentiment'].value_counts()
# The dataset is not balance

negative    9178
neutral     3099
positive    2363
Name: airline_sentiment, dtype: int64

In [5]:
df_neg = df[df['airline_sentiment']=='negative']
df_pos = df[df['airline_sentiment']=='positive']
df_neu = df[df['airline_sentiment']=='neutral']

In [6]:
# Generate data set for positive and nuetral data set
df_pos_resm = resample(df_pos,n_samples=9178,replace=True,random_state=101)
df_neu_resm = resample(df_neu,n_samples=9178,replace=True,random_state=101)

In [7]:
df_resample = pd.concat([df_pos_resm,df_neu_resm,df_neg])

In [ ]:
top_words =